.text-1 {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5rem;
}

.text-2 {
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.3rem;
}
.headline {
  font-size: 2.3em;
  font-weight: 700;
  line-height: 2rem;
}
.btn {
  margin: 0.5rem 0;
  width: 100%;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  font-size: 1em;
  padding: 0.7rem 0;
}
.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
}
.social {
  background-color: #fff;
  color: var(--secondary-color);
  border: 1px solid var(--accent-1);
}
